@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

body {
  font-family: monospace;
  background-color: #FDFDFD;
}

.box {
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background-color: white;
}

.box p {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 110%;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

.box b {
  font-size: 120%;
}

.randomWordBox {
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  background-color: white;
}

.randomWordBox p {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 110%;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

.randomWordBox b {
  font-size: 120%;
}

#line1 {
  text-align: center;
  font-size: 150%;
}

#wordOfTheDay {
  text-align: center;
  font-size: 200%;
}

.headline {
  /* text-align: center; */
  font-family: 'Barrio', cursive;
  font-size: 2.5em;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: lightblue;
}

.headline h1 {
  text-align: center;
}

#smallwords {
  text-align: center;
  font-size: 70%;
  margin-left: 28%;
  margin-top: -60px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.inputComp {
  margin-left: 25%;
  width: 50%;
}

.searchInputComp {
  width: 100%;
}

.input {
  width: 98%;
  height: 70px;
  margin-bottom: 4%;
  font-size: 100%;
  border-color: lightgrey;
  border-radius: 10px;
  font-family: monospace;
  font-size: 106%;
}

.searchinput {
  width: 29.25%;
  height: 70px;
  margin-bottom: 0%;
  margin-top: 4%;
  margin-left: 25%;
  font-size: 100%;
  border-color: lightgrey;
  border-radius: 10px;
  font-family: monospace;
  font-size: 106%;
}

#description {
  margin-left: 25%;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 150%;
}

#center {
  text-align: center;
}

#squareSubmitButton {
  margin-top: 2%;
  text-align: center;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
  font-family: monospace;
  font-size: 150%;
  /* margin-bottom: 1%; */
  border-color: lightgrey;
  border-width: 2px;
  border-radius: 10px;
  /* margin-left: 2%; */
}

#submitbutton {
  /* margin-top: 4%; */
  text-align: center;
  width: 70px;
  height: 70px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  border-radius: 100px;
  background-color: lightblue;
  font-family: monospace;
  font-size: 150%;
  /* margin-bottom: 1%; */
  border-color: lightgrey;
  border-width: 1px;
  margin-left: 2%;
  position: relative;
  bottom: -20px;
}

#submitwordbutton {
  /* margin-top: 1%; */
  text-align: center;
  width: 70px;
  height: 70px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  border-radius: 100px;
  background-color: lightblue;
  font-family: monospace;
  font-size: 150%;
  /* margin-bottom: 1%; */
  border-color: lightgrey;
  border-width: 1px;
  margin-left: 2%;
  position: relative;
  bottom: -20px;
}

#goHomeButton {
  margin-top: 2%;
  text-align: center;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
  font-family: monospace;
  font-size: 100%;
  /* margin-bottom: 1%; */
  border-color: lightgrey;
  border-width: 2px;
  border-radius: 10px;
  margin-right: 5%;
}

#anotherWordButton {
  margin-top: 2%;
  text-align: center;
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
  font-family: monospace;
  font-size: 100%;
  /* margin-bottom: 1%; */
  border-color: lightgrey;
  border-width: 2px;
  border-radius: 10px;
}

#browsebutton {
  /* margin-top: 1%; */
  text-align: center;
  width: 70px;
  height: 70px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  border-radius: 100%;
  background-color: lightblue;
  font-family: monospace;
  font-size: 150%;
  /* margin-bottom: -2%; */
  border-color: lightgrey;
  border-width: 1px;
  margin-left: 2%;
  position: relative;
  bottom: -20px;
}

#squareSubmitButton:hover{
  border-color: grey;
  border-width: 2px;
}

#submitbutton:hover {
  border-color: grey;
  border-width: 2px;
}

#submitwordbutton:hover {
  border-color: grey;
  border-width: 2px;
}

#browsebutton:hover {
  border-color: grey;
  border-width: 2px;
}

#goHomeButton:hover {
  border-color: grey;
  border-width: 2px;
}

#anotherWordButton:hover {
  border-color: grey;
  border-width: 2px;
}

#bottombar {
  width: 100%;
  height: 50px;
  margin-top: 4%;
  background-color: lightblue;
}

#copyright {
  text-align: right;
  padding-top: 28px;
  padding-right: 5px;
}

.picture {
  height: 100%;
  max-width:
}

#centerpic {
  width: 100%;
  height: 300px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#nopic {
  width: 100%;
  height: 1%;
}

#ortext {
  text-align: center;
  font-size: 1.2em;
  margin-top: 0%;
  margin-bottom: 0%;
}

#homebutton {
position: absolute;
top: 230px;
left: 10px;
width: 50px;
height: 50px;
}

.star {
  width: 10px;
  height: 10px;
}

#star1 {
  position: absolute;
  left: 74.5%;
  top: 50%;
}

#star2 {
  position: absolute;
  left: 74.5%;
  top: 64.5%;
}

#star3 {
  position: absolute;
  left: 74.5%;
  top: 79%;
}

#star4 {
  position: absolute;
  left: 74.5%;
  top: 94%;
}

#star5 {
  position: absolute;
  left: 74.5%;
  top: 108.5%;
}

#searchIcon {
  width: 100%;
}

#submitIcon {
  width: 100%;
  margin-top: 10%;
}

#browseIcon {
  width: 100%;
  margin-top: 10%;
}

#nsfw {
  margin-left: 25%;
  font-size: 110%;
}

#nsfwbutton {
  font-family: monospace;
  font-size: 110%;
  border-radius: 5px;
}

#nsfwTag {
  position: relative;
  top: -20px;
  right: -590px;
  color: red;
  height: 15px;
  width: 50px;
  font-size: 150%;
  z-index: 1;
  font-family: monospace;
}

.submission {
  text-align: center;
  font-size: 200%;
  margin-top: 4%;
  margin-bottom: 24.7%;
}

#noResults {
  text-align: center;
  font-size: 150%;
  margin-top: 4%;
  width: 50%;
  margin-left: 25%;
  color: red;
}

@media only screen and (max-width: 600px) {

.headline {
  font-size: 1.8em;
  padding-bottom: 5%;
}

#smallwords {
  text-align: center;
  font-size: 70%;
  margin-left: 50%;
  margin-top: -40px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.searchinput {
  width: 90%;
  height: 70px;
  margin-bottom: 0%;
  margin-top: 4%;
  margin-left: 0%;
  font-size: 100%;
  border-color: lightgrey;
  border-radius: 10px;
  font-family: monospace;
  font-size: 106%;
}

.searchInputComp {
  margin-bottom: 10%;
  text-align: center;
}

.randomWordBox {
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  background-color: white;
}

.picture {
  width: 90%;
}

.box {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#homebutton {
  margin-top: -20%;
  width: 40px;
  height: 40px;
}

#description {
  margin-right: 22%;
  margin-left: 22%;
  text-align: center;
}

.inputComp {
  margin-left: 5%;
  width: 90%;
}

#nsfw {
  margin-bottom: 1%;
}

#star1 {
  top: 230px;
  left: 300px;
}

#star2 {
  left: 300px;
  top: 317.5px;
}

#star3 {
  left: 300px;
  top: 405px;
}

#star4 {
  left: 300px;
  top: 492.5px;
}

#star5 {
  left: 300px;
  top: 580px;
}

#anotherWordButton {
  width: 90%;
  margin-top: 8%;
}

#goHomeButton {
  margin-top: 0%;
}

#noResults {
  width: 90%;
  margin-left: 5%;
}

#nsfwTag {
  right: -207px;
  top: -4px;
  font-size: 100%;
}

}
